<table class="table table-striped">
    <thead>
    <tr>
        <th>{{i18n .Lang `created`}}</th>
        <th>{{i18n .Lang `type`}}</th>
        <th>{{i18n .Lang `system`}}</th>
        <th>{{i18n .Lang `sell_value`}}</th>
        <th>{{i18n .Lang `buy_value`}}</th>
        <th>{{i18n .Lang `volume`}}</th>
    </tr>
    </thead>
    <tbody>
    {{range .Pastes}}
    <tr>
        <td><a href="{{urlfor `PastesController.View` `:id` .EncodedID}}">{{time $.Lang .Created}}</a></td>
        <td>{{i18n $.Lang .Type}}</td>
        <td>{{systemNameI $.Lang .MarketSystemID}}</td>
        <td>{{commaF .TotalSellPrice}} ISK</td>
        <td>{{commaF .TotalBuyPrice}} ISK</td>
        <td>{{commaF .TotalVolume}}m3</td>
    </tr>
    {{end}}
    </tbody>
</table>