<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <form action="/" method="post">
                    <textarea class="form-control" rows="6" name="text" id="textArea" placeholder="{{i18nH .Lang `text_placeholder`}}"></textarea>
                    <div class="form-group form-submit">
                        <div class="col-sm-7">
                            <button type="submit" class="btn btn-primary">{{i18n .Lang "submit"}}</button>
                            <button type="reset" class="btn btn-default">{{i18n .Lang "reset"}}</button>
                        </div>
                        <div class="col-sm-5">
                            <select class="form-control" name="system_id">
                                {{range .Systems}}
                                <option value="{{.}}" {{if eq "30000142" .}}selected="selected"{{end}}>{{systemName $.Lang .}}</option>
                                {{end}}
                            </select>
                        </div>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="compress_ore"> {{i18n .Lang "compress_oreice"}}
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="decompress_ore"> {{i18n .Lang "decompress_oreice"}}
                        </label>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <p>{{i18n .Lang "evepaste_is"}}</p>

        <p>{{i18n .Lang "currently_supports"}}</p>
        <ul>
            <li>{{i18n .Lang "cargo_scan"}}</li>
            <li>{{i18n .Lang "contract"}}</li>
            <li>{{i18n .Lang "dscan"}} <a href="{{urlfor `PastesController.View` `:id` `pNggUtYZO` }}">{{i18n .Lang `example`}}</a></li>
            <li>{{i18n .Lang "fit"}} ({{i18n .Lang "eft"}} / {{i18n .Lang "clf"}} / {{i18n .Lang "dna"}}) <a href="{{urlfor `PastesController.View` `:id` `qjBbqp9zG`}}">{{i18n .Lang `example`}}</a></li>
            <li>{{i18n .Lang "industry"}}</li>
            <li>{{i18n .Lang "inventory"}} <a href="{{urlfor `PastesController.View` `:id` `qc2omJkKk` }}">{{i18n .Lang `example`}}</a></li>
            <li>{{i18n .Lang "pi"}}</li>
            <li>{{i18n .Lang "view_contents"}}</li>
        </ul>
    </div>
</div>